body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(92, 61, 108);
    color: white;
    text-align: center;
}

h1, p{
    margin-bottom: 0;
    padding: 0;
}

#card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 22em;
    color: white;
}

#card-title {
    font-weight: 700;
    font-size: x-large;
}

#card-container > img {
    height: 20em;
    width: auto;
}

#keyword-container {
    font-size: large;
    max-width: max-content;
    margin-top: 1em;
}

.keyword {
    margin: .5em;
    padding: .4em;
    border-radius: 15%;
    background-color: rgb(26, 24, 26);
    color: rgb(210, 207, 183);
}

#draw-a-card {
    font-size: medium;
    margin: 1em;
}

#draw-a-card {
    padding: .5em;
    width: 9em;
    background-color: transparent;
    color: white;
    border: 1px plum solid;
    box-shadow: 1px 1px 5px black;
}

#draw-a-card:hover, #draw-a-card:focus {
    background-color: rgb(165, 118, 165);
}
